<section class="category-section bg-light py-5">
    <div class="container">
        <div class="category-header mb-5">
            <h2 class="text-center text-lg-start">Shop by Category</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Paintings" class="category-card bg-dark border text-center p-5 d-block text-decoration-none">
                    <h3 class="mb-0">Paintings</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Monotone" class="category-card bg-dark border text-center p-5 d-block text-decoration-none">
                    <h3 class="mb-0">Monotone Art</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Drawing" class="category-card bg-dark border text-center p-5 d-block text-decoration-none">
                    <h3 class="mb-0">Drawing</h3>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <a asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="Sculpture" class="category-card bg-dark border text-center p-5 d-block text-decoration-none">
                    <h3 class="mb-0">Sculpture</h3>
                </a>
            </div>
        </div>
    </div>
</section>